---
layout: archive
title: "Home"
permalink: /
author_profile: true
redirect_from: 
  - /home.html
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style type="text/css">
        #wrap {
            width: 100%;
            margin: 0 auto;
        }
        #left_col {
            float: left;
            width: 50%;
        }
        #right_col {
            float: right;
            width: 50%;
        }
    </style>
    <style>
        table img {
            max-width: 100%;
            height: auto;
        }
        table td {
            width: 33%;
            text-align: center;
        }
        table th {
            background-color: transparent;
            color:black;
        }
    </style>
</head>
<body>
    <p>
        Hello all, I'm Ryan Verbrugge and I'm a recently graduated Robotics major from Michigan Tech where I focused on perception and mapping systems for autonomous vehicles.
        <!-- I'm currently finishing my final semester here for my bachelor's and starting into my masters at Tech in Electrical and Computer Engineering this upcoming Fall (2025).  -->
        For more information on my background you can check out my <a href="https://rcverbru.github.io/cv/">CV</a> or <a href="https://rcverbru.github.io/background/">Background</a> pages.
    </p>
    <p>
        Most of my work has been on GM and SAE's AutoDrive Challenge II but have done work within the research space on similar projects. 
        Below are some images from each of my projects each of which link to their accompanying pages with more description of my own work accomplishments and contributions.
    </p>
</body>
<body>
    <h1 id="research-interests">Research Interests</h1>
    <ul>
        <li>Perception Systems for Autonomous Vehicles</li>
        <li>Mapping and Planning Systems for Autonomous Vehicles</li>
        <li>Wildlife Conservation using Automotive Grade Sensors</li>
        <li>LiDAR Object Detection in Adverse Weather Conditions</li>
        <li>Autonomous Vehicle Simulation</li>
    </ul>
</body>
<body>
    <h1 id="projects-and-research">Projects and Research</h1>
    <table>
        <thead>
            <tr>
                <th>AutoDrive Challenge II</th>
                <th>DNR Bat Counting</th>
                <th>LiDAR Winter Adverse DataSet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://rcverbru.github.io/projects/autodrive/"><img src="../images/autodrive/bolt_cropped.jpg" alt="AutoDrive Bolt Under Northern Lights"></a></td>
                <td><a href="https://rcverbru.github.io/research/bats/"><img src="../images/bats/near_IR_cluster.png" alt="Bat Cluster in Near IR"></a></td>
                <td><a href="https://rcverbru.github.io/research/winter-data/"><img src="../images/snow_stuff/laptop_dark_cropped.jpg" alt="winter"></a></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>TBD</th>
                <th>TBD</th>
                <th>TBD</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TBD</td>
                <td>TBD</td>
                <td>TBD</td>
            </tr>
        </tbody>
    </table>
</body>
<body>
    <h1 id="research-group">Research Group</h1>
    <div id="wrap">
        <div id="left_col">
            <img src="../images/rasl_logo.png" alt="RASL Logo" height=351 width=314>
            <h2>Robust Autonomous Systems Lab (RASL)</h2>
            <ul>
                <li><a href="https://bitbucket.org/autonomymtu/workspace/repositories/">MTU Autonomy Bitbucket</a></li>
                <li><a href="https://www.researchgate.net/lab/Robust-Autonomous-Systems-Lab-Jeremy-Patrick-Bos">Lab Research Gate</a></li>
            </ul>
        </div>
        <div id="right_col">
            <br>
            <b>Advisor: </b> Dr. Jeremy Bos
            <ul>
                <li><a href="https://pages.mtu.edu/~jpbos/Jeremys_Homepage/Home.html">Personal Website</a></li>
                <li><a href="https://pages.mtu.edu/~jpbos/Jeremys_Homepage/Home.html">MTU Faculty Webpage</a></li>
            </ul>
            <b>Current Graduate Research Students:</b>
            <ul>
                <li>Carl Greene</li>
                <li>Chaz Cornwall</li>
                <li>Ian Mattson</li>
                <li><a href="https://lpschexn.github.io/">Logan Schexnaydre</a></li>
                <li>Nick Peterson</li>
                <li><a href="https://yimingyang-mtu.github.io/">Yiming Yang</a></li>
            </ul>
            <b>Graduated Students</b>
            <ul>
                <li><a href="https://sites.google.com/view/akhil-kurup">Akhil Kurup, Ph.D</a></li>
                <li>Casey Majhor, Ph.D</li>
                <li>Mark Schmelzle</li>
                <li>Wei Weng</li>
                <li>Zach Jeffries, Ph.D</li>
            </ul>
        </div>
    </div>
</body>
</html>