---
layout: archive
title: "Home"
permalink: /
author_profile: true
redirect_from:
  - /home.html
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<div class="profile-page">
  <section class="content-section">
    <p>
      Hello all, I'm Ryan Verbrugge and I'm a recently graduated Robotics major from Michigan Tech where I focused
      on perception and mapping systems for autonomous vehicles. Things are still being fixed and worked on so if
      stuff isn't working just assume that's something that will soon be fixed. For more information on my
      background you can check out my <a href="{{ base_path }}/cv/">CV</a> or
      <a href="{{ base_path }}/background/">Background</a> pages.
    </p>
    <p>
      Most of my work has been on GM and SAE's AutoDrive Challenge II but I've also done work within the research
      space on similar projects. Below are some highlights from each of my projects, each of which links to an
      accompanying page with more on my own contributions.
    </p>
  </section>

  <section class="content-section">
    <h2><i class="fas fa-fw fa-briefcase" aria-hidden="true"></i>Engineering Work Experience</h2>
    <div class="card-grid">
      <a class="card" href="{{ base_path }}/work/may-mobility/">
        <img src="{{ base_path }}/images/may/may-swt.jpeg" alt="May at SWT">
        <div class="card-caption">May Mobility &ndash; Site Autonomy Engineer</div>
      </a>
      <a class="card" href="{{ base_path }}/work/hexagon/">
        <img src="{{ base_path }}/images/500x300.png" alt="Simulation fun">
        <div class="card-caption">Hexagon &ndash; Autonomous Simulations Intern</div>
      </a>
    </div>
  </section>

  <section class="content-section">
    <h2><i class="fas fa-fw fa-lightbulb" aria-hidden="true"></i>Research Interests</h2>
    <div class="tag-list">
      <span class="tag">Perception Systems for Autonomous Vehicles</span>
      <span class="tag">Mapping and Planning Systems for Autonomous Vehicles</span>
      <span class="tag">Wildlife Conservation using Automotive Grade Sensors</span>
      <span class="tag">LiDAR Object Detection in Adverse Weather Conditions</span>
      <span class="tag">Autonomous Vehicle Simulation</span>
    </div>
  </section>

  <section class="content-section">
    <h2><i class="fas fa-fw fa-diagram-project" aria-hidden="true"></i>Projects and Research</h2>
    <div class="card-grid">
      <a class="card" href="{{ base_path }}/projects/autodrive/">
        <img src="{{ base_path }}/images/autodrive/bolt_cropped_small.jpg" alt="AutoDrive Bolt Under Northern Lights">
        <div class="card-caption">AutoDrive Challenge II</div>
      </a>
      <a class="card" href="{{ base_path }}/research/bats/">
        <img src="{{ base_path }}/images/bats/near_IR_cluster_small.png" alt="Bat Cluster in Near IR">
        <div class="card-caption">DNR Bat Counting</div>
      </a>
      <a class="card" href="{{ base_path }}/research/winter-data/">
        <img src="{{ base_path }}/images/snow_stuff/laptop_dark_cropped_small.jpg" alt="winter">
        <div class="card-caption">LiDAR Winter Adverse Dataset</div>
      </a>
      <a class="card" href="https://github.com/rcverbru/divining-rod">
        <img src="{{ base_path }}/images/autodrive/localization_cropped.png" alt="localization">
        <div class="card-caption">The Divining Rod</div>
      </a>
    </div>
  </section>

  <!--
  <section class="content-section">
    <h2><i class="fas fa-fw fa-users" aria-hidden="true"></i>Research Group</h2>
    <div id="wrap">
      <div id="left_col">
        <img src="../images/rasl_logo.png" alt="RASL Logo" height=351 width=314>
        <h2>Robust Autonomous Systems Lab (RASL)</h2>
        <ul>
          <li><a href="https://bitbucket.org/autonomymtu/workspace/repositories/">MTU Autonomy Bitbucket</a></li>
          <li><a href="https://www.researchgate.net/lab/Robust-Autonomous-Systems-Lab-Jeremy-Patrick-Bos">Lab Research Gate</a></li>
        </ul>
      </div>
      <div id="right_col">
        <br>
        <b>Advisor: </b> Dr. Jeremy Bos
        <ul>
          <li><a href="https://pages.mtu.edu/~jpbos/Jeremys_Homepage/Home.html">Personal Website</a></li>
          <li><a href="https://pages.mtu.edu/~jpbos/Jeremys_Homepage/Home.html">MTU Faculty Webpage</a></li>
        </ul>
        <b>Current Graduate Research Students:</b>
        <ul>
          <li>Carl Greene</li>
          <li>Chaz Cornwall</li>
          <li><a href="https://iqmattso.github.io/">Ian Mattson</a></li>
          <li><a href="https://lpschexn.github.io/">Logan Schexnaydre</a></li>
          <li>Nick Peterson</li>
          <li><a href="https://yimingyang-mtu.github.io/">Yiming Yang</a></li>
        </ul>
        <b>Graduated Students</b>
        <ul>
          <li><a href="https://sites.google.com/view/akhil-kurup">Akhil Kurup, Ph.D</a></li>
          <li>Casey Majhor, Ph.D</li>
          <li>Mark Schmelzle</li>
          <li>Wei Weng</li>
          <li>Zach Jeffries, Ph.D</li>
        </ul>
      </div>
    </div>
  </section>
  -->
</div>
